@import "color";

$shadowSize: 2px 2px 3px;

.btn {
  box-sizing: border-box;
  padding: 0.25rem 0.5rem;
  width: fit-content;
  color: $white;
  cursor: pointer;
  border: none;
  border-radius: 0.15rem;
}

@each $key, $val in $theme-colors {
  @if $key == "light" {
    .btn-link {
      background-color: transparent;
      color: $gray-600;
      transition: all 0.25s ease-in-out;

      &:hover {
        color: rgba($primary, 0.8);
      }
    }
  } @else {
    .btn-#{$key} {
      background-color: $val;
      box-shadow: $shadowSize rgba(darken($val, 20%), 0.8);
      transition: all 0.25s ease-in-out;

      &:hover {
        background-color: lighten($val, 20%);
        box-shadow: $shadowSize rgba(darken($val, 20%), 0.6);
      }
    }
  }
}
