@import 'color';

$shadowSize: 2px 2px 3px;

.btn {
    box-sizing: border-box;
    padding: .25rem .5rem;
    width: fit-content;
    color: $white;
    cursor: pointer;
}

@each $key, $val in $theme-colors {
    .btn-#{$key} {
        background-color: $val;
        box-shadow: $shadowSize rgba(darken($val, 20%), .8);
        transition: all 0.25s ease-in-out;

        &:hover {
            background-color: lighten($val, 20%);
            box-shadow: $shadowSize rgba(darken($val, 20%), .6);
        }
    }
}

.btn-link {
    background-color: transparent;
    color: $gray-600;
    transition: all 0.25s ease-in-out;

    &:hover {
        color: rgba($primary, .8);
    }
}